# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

## Pocketbase ignored files
pb_data/*
tests/data/logs.db

# Server contents - filled during build phase
pb_public/assets/
pb_public/_app
pb_public/*.html
pb_public/*.js
pb_public/*.svg
pb_public/*.png
